<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chuck Norris Jokes</title>
  <link href="main.css" rel="stylesheet">
</head>
<body>
  <div id="grid">
    <div id="jokes">
      <h1 id="title">Chuck Norris Jokes</h1>
      <p id="joke"><%= @joke %></p>
      <button type="button" onclick="window.location.reload()" id="refresh">Tell a new joke</button>
    </div>
    <img src="chuck.png" id="chuck">
  </div>
    <script src="main.js"></script>
</body>
</html>
